[2021-09-13 08:39] TheSpad opened #2 "Dockerfiles are cloning from original repo"
Dockerfiles are cloning from original repo and not this forked one.

https://github.com/Py-KMS-Organization/py-kms/blob/master/docker/docker-py3-kms-minimal/Dockerfile#L28

https://github.com/Py-KMS-Organization/py-kms/blob/master/docker/docker-py3-kms/Dockerfile#L28

[2021-09-13 08:58] simonmicro commented on #2
Shit. I've missed that! I'll be fixing that ASAP. Sorry.

[2021-09-13 08:59] simonmicro commented on #2
Thanks!

[2021-09-13 08:59] #2 closed

[2021-09-17 13:46] edgd1er opened #3 "pytz missing"
There is message error in the log: `kms       | Thu, 16 Sep 2021 05:17:00 WARNING  Module 'tzlocal' not available ! Request time not localized.`
Here is the code triggering the warning
pykms_Base L123: from pytz.exceptions import UnknownTimeZoneError
                     L131: except ImportError: .....

Adding the pytz package (pip3 install pytz), whatever is the timezone, I have that error. I can

[2021-10-07 18:58] Matthew-Beckett opened #6 "Support sending LOGFILE argument to stdout for better container compatability"
Currently in [pykms_Misc.py at line 230](https://github.com/Py-KMS-Organization/py-kms/blob/c760b28eae4304f0527e18009a6fcb9847c5ab7a/py-kms/pykms_Misc.py#L230), there is a snippet of code that validates the value passed in via `LOGFILE` has the extension `.log`.

In container runtimes such as containerd/Docker the runtime provides /dev/stdout as the pipe to send container logs to which can then be

[2021-10-11 17:27] simonmicro commented on #3
Sorry for answering so late - my notification were broken. I have trouble to understand what you are writing - is this broken after installing the package, or is it fixed by installing the missing package? I know that Python3 bricked `tzdata` recently...

[2021-10-12 23:26] Knightr1702 opened #8 "Office Professional 2021 Volume License"
I am wondering if py-kms is going to be updated to include Office Professional 2021 Volume License?  Thanks.

[2021-10-13 09:43] #6 closed, assigned to simonmicro

[2021-10-13 16:00] sbach89 opened #9 "Not activating"
Receiving the following when attempting to activate Windows server 2022 after pulling latest python3 image.

Wed, 13 Oct 2021 10:25:29 INFO     Machine Name: xxx
Wed, 13 Oct 2021 10:25:29 INFO     Client Machine ID: a1597c43-9243-4160-83f4-a1b4ff788ee7
Wed, 13 Oct 2021 10:25:29 INFO     Application ID: Windows
Wed, 13 Oct 2021 10:25:29 INFO     SKU ID: ef6cfc9f-8c5d-44ac-9aad-de6a2ea0ae03
Wed, 13

[2021-10-13 19:26] edgd1er commented on #3
Hello,

I still have an issue not the same issue though: no terminal detected , then try to start with gui, none found but another exception occured during first exception, ending in the app crashing.

pykms_misc L230 was changed to remove typefile, although some calls are performed with the removed arg.
`def check_dir(path, where, log_obj = None, argument = '-F/--logfile'):`
called by
`pykms_serv

[2021-10-13 19:36] edgd1er commented on #3
:) I'm already on the next point, no tz defined in python possibly... still investigating. thanks to the nice logs, it should be easy to pinpoint.

[2021-10-13 19:42] simonmicro commented on #3
Whuääää, why is every fix making something else going brrr? Sometime, just sometimes...

[2021-10-13 19:59] edgd1er commented on #3
something like this might be required to define TZ in the entrypoint, still working on it....
[code]

[2021-10-13 20:01] simonmicro commented on #3
Fixed in 3806c032142f1f086e6da1715a8c67648771d38d.

[2021-10-13 20:01] simonmicro opened #10 "Something is broken in TZ..."
:) I'm already on the next point, no tz defined in python possibly... still investigating. thanks to the nice logs, it should be easy to pinpoint.

_Originally posted by @edgd1er in https://github.com/Py-KMS-Organization/py-kms/issues/3#issuecomment-942653761_

[2021-10-13 20:02] simonmicro commented on #10
something like this might be required to define TZ in the entrypoint, still working on it....

#Change timzeone if set
[[ -n ${TZ} ]] && [[ -f /usr/share/zoneinfo/${TZ} ]] && [[ -w /etc/localtime ]] && ln -fs /usr/share/zoneinfo/${TZ} /etc/localtime
#use UTC if not
[[ ! -f /etc/localtime ]] && ln -fs /usr/share/zoneinfo/Etc/UTC /etc/localtime

-> https://github.com/Py-KMS-Organization/py-kms/issue

[2021-10-13 20:24] Matthew-Beckett commented on #10
I will need to add this as a fix to the Helm chart

[2021-10-13 20:45] edgd1er opened #11 "Latest sqlite-web require extension none"
with latest sqlite-web commits, extensions are expected and cannot be null. not a bug in this project, but has definitely an impact..

[code]

[2021-10-13 20:45] Matthew-Beckett commented on #11
@simonmicro called it

[2021-10-14 01:20] ritmo2k1024 commented on #9
It doesn't look like the `KmsDataBase.xml` file has a definition for Windows Server 2022 yet.

[2021-10-14 01:49] sbach89 commented on #9
Works now, and server 2022 activates as well as Win 11 and Office 2021. Thank you

[2021-10-14 05:49] edgd1er commented on #11
As suggested in pull request https://github.com/coleifer/sqlite-web/pull/91/files, a temporary fix may be included in Dockerfile to fix the problem.

[code]

[2021-10-14 09:20] #9 closed, assigned to nobody

[2021-10-14 09:46] #10 closed, assigned to simonmicro

[2021-10-14 11:19] #11 closed, assigned to simonmicro

[2021-10-14 23:48] edgd1er commented on #10
I have TZ ok (through env var)+ log for client on stdout.
I try to change now uid/gid of user as I need to have specific id/gid on mounted volume and drop root privileges after having set TZ and UID/GID.. without any luck til now. I might have to split entrypoint in 2. My fork might be already to different from yours.

[2021-10-15 05:14] lepoarro opened #14 ""latest" update not working"
I was running my py-kms (docker) on UNRAID server and now after latest update it stopped working.
This is the error what was shown:
`Traceback (most recent call last):
File "/usr/bin/entrypoint.py", line 28, in <module>
enableSQLITE = os.environ.get('SQLITE').lower() == 'true'
AttributeError: 'NoneType' object has no attribute 'lower'
Traceback (most recent call last):
File "/usr/bin/entrypoint.py

[2021-10-15 05:36] lepoarro commented on #14
Got it working. Changed the docker tag from "latest" to "python3" and got it running again.

[2021-10-15 05:36] #14 closed, assigned to simonmicro

[2021-10-16 14:31] BurningC4 commented on #8
https://forums.mydigitallife.net/threads/emulated-kms-servers-on-non-windows-platforms.50234/page-97#post-1690179

[2021-10-17 09:52] simonmicro commented on #8
Thanks, could someone test and verify https://github.com/Py-KMS-Organization/py-kms/tree/preview/office21 ? I have extended the database and listed the new keys.

[2021-10-17 09:56] simonmicro commented on #14
Just fixed it. Thanks for the notice!

[2021-10-17 10:08] simonmicro opened #15 "Set own UID/GID in Docker"
I have TZ ok (through env var)+ log for client on stdout.
I try to change now uid/gid of user as I need to have specific id/gid on mounted volume and drop root privileges after having set TZ and UID/GID.. without any luck til now. I might have to split entrypoint in 2. My fork might be already to different from yours.

_Originally posted by @edgd1er in https://github.com/Py-KMS-Organization/py-kms

[2021-10-17 10:08] simonmicro commented on #15
Did you take a look into [here](https://medium.com/redbubble/running-a-docker-container-as-a-non-root-user-7d2e00f8ee15) ? As far as I can tell you / we could just extend the `docker run` command or change the `docker-compose` respectively. But yes, we should drop any py-kms privileges and run as user `1000` inside the container.

[2021-10-17 11:30] edgd1er commented on #15
Starting with endpoint with root privileges allows, then start.py is run with dropped privileges.
the two step process allows:
- defined timezone according to TZ env var
- define user id et group ip as defined in UID/GUID env var
- set file ownership as required by new UID/GID
- run bash as root to perform some tests/validation.

Another solution would be to run the commands (through os.system + s

[2021-10-18 02:26] Knightr1702 commented on #8
I Will.  Thanks

From: simonmicro ***@***.***>
Sent: Sunday, October 17, 2021 2:52 PM
To: Py-KMS-Organization/py-kms ***@***.***>
Cc: Knightr1702 ***@***.***>; Author ***@***.***>
Subject: Re: [Py-KMS-Organization/py-kms] Office Professional 2021 Volume License (#8)

Yes, the master is NOT updated yet - check out the branch here <https://github.com/Py-KMS-Organization/py-kms/tree/preview/office21>

[2021-10-21 10:29] vosdev opened #16 "docker :latest and :minimal TypeError"
Unfortunately `latest` and `minimal` tag have been broken for several days now

python3 tag works fine :)

latest and minimal tag crashes at startup with:

[code]

[2021-10-22 11:14] lepoarro opened #17 "pykmsorg/py-kms:python3 UNRAID docker error"
After update got an error on my UNRAID server:
`Traceback (most recent call last):
File "/usr/bin/entrypoint.py", line 33, in <module>
print('Storing database file to ' + dbPath)
NameError: name 'dbPath' is not defined`
"python3" docker version worked before latest update. Now the "latest" docker version is working on UNRAID server. I hope you can fix this or maybe I need to change my configuratio

[2021-10-22 18:09] #8 closed, assigned to simonmicro

[2021-10-22 18:09] #16 closed, assigned to simonmicro

[2021-10-22 18:20] #17 closed, assigned to nobody

[2021-10-23 01:45] larrywhitlock opened #23 "Office Professional 2021 Volume License"
Tried the Office 2021 Build and it would not Activate Office 2021
Im not a coder and not sure if this is correct but I can now Activate Office 2021 with these changes.

File: KmsDataBase.xml
Line 533: Change
       `<CsvlkItem DisplayName="Office 2021" VlmcsdIndex="6" GroupId="206" MinKeyId="571000000" MaxKeyId="590999999" IniFileName="Office2021" EPid="05426-00206-586-025264-03-1033-9200.0000-260

[2021-10-23 01:48] larrywhitlock commented on #23
Line553:`<CsvlkItem DisplayName="Office 2021" VlmcsdIndex="6" GroupId="206" MinKeyId="571000000" MaxKeyId="590999999" IniFileName="Office2021" EPid="05426-00206-586-025264-03-1033-9200.0000-2602021" Id="47f3b983-7c53-4d45-abc6-bcd91e2dd90a" InvalidWinBuild="[0,1]">`

Line 991: `<KmsItem DisplayName="Office 2021" Id="86d50b16-4808-41af-b83b-b338274318b2" CanMapToDefaultCsvlk="false" DefaultKmsProto

[2021-10-23 10:16] #23 closed, assigned to nobody

[2021-10-23 18:45] MartinKuhl opened #25 "Issue with Office LTSC Standard 2021"
I am not able to activate

DOCKER Log:
Sat, 23 Oct 2021 18:42:14 INFO     RPC bind request received.
Sat, 23 Oct 2021 18:42:14 INFO     RPC bind acknowledged.
Sat, 23 Oct 2021 18:42:14 INFO     Received activation request.
Sat, 23 Oct 2021 18:42:14 INFO     Received V6 request on Sat Oct 23 18:42:14 2021.
Sat, 23 Oct 2021 18:42:14 WARNING  Too many clients ! Fixed with 10
Sat, 23 Oct 2021 18:42:15

[2021-10-24 00:12] larrywhitlock commented on #25
I tried to tell him yesterday that the code didn't work on the branch Office 2021 build and he pushed it to master.

If you have access to the KmsDataBase.xml file.
Change Line 551:
`       <CsvlkItem DisplayName="Office 2021" VlmcsdIndex="6" GroupId="206" MinKeyId="571000000" MaxKeyId="590999999" IniFileName="Office2021" EPid="05426-00206-586-025264-03-1033-9200.0000-2602021" Id="47f3b983-7c53-4d

[2021-10-24 00:21] larrywhitlock commented on #23
I was trying to tell you the branch code didn't work... check Line: 533 Code....

[2021-10-24 00:25] simonmicro commented on #25
@larrywhitlock Oh sorry, I did not understood that you also tried the `preview/office21` branch! So to clarify: The current master can NOT activate Office 21 even with the extended database? And all we need is to remove the `ReleaseDate` attribute and instead add the `InvalidWinBuild` attribute? Because to me those lines look very similar and should NOT cause this - hmm, maybe the code expect the

[2021-10-24 00:27] larrywhitlock commented on #25
Correct, taking the release date out by itself didn't work, so I added the ending code and it started working.

[2021-10-24 00:31] larrywhitlock commented on #25
I'll be able to check it in 15 minutes.

[2021-10-24 00:56] larrywhitlock commented on #25
BINGO!
We have a Winner.... Office 20221 Pro Plus, Visio Pro Plus, Project Pro Plus... Activated!

[2021-10-24 07:54] #25 closed, assigned to nobody

[2021-10-25 13:49] kaz050457 opened #26 "Commands for office 2021"
I Already installed the kms server..Does  anyone here can share with me the commands to be used on cmd to activate office 2021. I cant find in the docs..

[2021-10-25 14:52] #26 closed, assigned to nobody

[2021-10-31 14:14] #15 closed

[2021-11-01 03:37] yangzhaofeng opened #29 "ls: /home/py-kms/db/pykms_database.db: No such file or directory after deddf0c"
My docker script is like
[code]
and after pulling the latest docker image and starting the script, an error occured.
[code]

I guess it should be introduced in deddf0c or its near parents, for the docker image a week ago worked.

[2021-11-01 10:03] #29 closed

[2021-11-04 16:16] arturolegovich opened #32 "INFO ONLY: PHP Viewer for sqlite3 py-kms db-file"
Hi.
Wrote for myself a PHP application to view sqlite3 py-kms database.
Maybe someone will be useful someday like me.

Soon I will start writing an application for viewing a database in python, instead of sqlite-web.

https://github.com/arturolegovich/py-kms_phpviewer-sqlite3

[2021-11-04 16:20] Matthew-Beckett commented on #32
Please add as markdown to the official [documentation](https://github.com/Py-KMS-Organization/py-kms/tree/master/docs), we cannot keep issues that contain information perpetually open as they are required for bug tracking.

[2021-11-04 16:22] #32 closed

[2021-11-17 08:49] CreeperKong opened #34 "Add LTSC 2021 GVLK"
PG7H6-7RNT3-R4MGR-HMJK2-J462D

[2021-11-17 13:27] Matthew-Beckett commented on #34
Hi @CreeperKong,

Would you mind adding this via PR to the official documentation?

https://github.com/Py-KMS-Organization/py-kms/blob/master/docs/Keys.md

[2021-11-19 08:41] simonmicro commented on #34
Sorry, but we will only include such keys if we can get them from a legal source - the key you are writing here only shows up in shady places. Feel free to reopen this issue or even to create an PR if you can prove this key is from a legitimate source.

Sorry.

[2021-11-19 08:41] #34 closed

[2021-11-20 09:31] AraHaan opened #35 "Add Windows 11 licenses."
https://docs.microsoft.com/en-us/windows-server/get-started/kms-client-activation-keys#windows-11-and-windows-10-semi-annual-channel-versions

[2021-11-20 14:41] Matthew-Beckett commented on #35
Hi @AraHaan

Would you mind adding this via PR to the official documentation?

https://github.com/Py-KMS-Organization/py-kms/blob/master/docs/Keys.md

[2021-11-21 23:05] lodiabloc opened #36 "Py-KMS on Python Version 3.10 not working"
Hello

I want to use py-kms for my homelab test but cannot start the service

here step by step what i have done
- Setup fresh winserver2019 std edition Evaluation (with desktop experience environment)
- Installed latest python (3.10.0) on C:\Program Files\Python310\ (for all users and with PATH Environment)
- installed with pip the dependencies mentioned at https://py-kms.readthedocs.io/en/latest

[2021-11-22 00:53] Matthew-Beckett commented on #36
Hi @lodiabloc

In Python 3.3 it seems `Sequence` was moved from `collections` to `collections.abc` which explains this behaviour you're seeing in 3.10.

Alternatively you can use our Docker container to work around the issue.

I will mark this as a confirmed bug and we'll set to work fixing this.

Thanks,
Matt

[2021-11-22 00:59] AraHaan commented on #36
Another issue as well is that it also will try to use the SO_REUSEPORT which does not exist on windows.

[2021-11-29 21:35] gh0st-app1e opened #37 "Docker container not dropping privileges"
Docker container does not drop privileges and runs py-kms as root when started with docker compose in the following manner:
[code]
The issue is also present when started with the way mentioned in README (`docker run -d --name py-kms --restart always -p 1688:1688 ghcr.io/py-kms-organization/py-kms`) and seems to be not related to docker itself but rather to `entrypoint.py`.

The following code http

[2021-12-05 17:11] #37 closed

[2021-12-05 17:13] simonmicro opened #41 "SO_REUSEPORT and Windows."
Another issue as well is that it also will try to use the SO_REUSEPORT which does not exist on windows.

_Originally posted by @AraHaan in https://github.com/Py-KMS-Organization/py-kms/issues/36#issuecomment-974976325_

[2021-12-05 17:16] simonmicro commented on #36
This is not a bug per-se as we clearly state that we are using Python 3.6.9+ in our readme and as https://endoflife.date/python reports the versions before that breaking change are far beyond their end-of-life dates.

I would prefer to close this - what do your think @Matthew-Beckett ?

[2021-12-05 17:19] simonmicro commented on #41
@AraHaan could you care to send us some logs? As far as I can see we have implemented a check against that...

[2021-12-09 16:13] simonmicro commented on #35
This was done long ago via f93ea7f7a5f029cccd0b0aeb63a38b4bbdb2d41d - no need for further changes.

[2021-12-09 16:13] #35 closed

[2021-12-09 16:22] Matthew-Beckett commented on #36
@simonmicro I'm a little confused as to your comment. You state that we use 3.6.9 however if so `Sequence` would have been moved from `collections` to `collections.abc` and thus this would be an actual bug as our import reference is for a version that is EoL no?

3.6.9 is going EoL in two weeks anyway, I think we should upgrade to 3.9 or 3.10, squash this bug and complete the chore of upgrading wh

[2021-12-09 16:34] simonmicro commented on #36
Nvm - I can confirm it.

[2021-12-09 16:34] simonmicro commented on #36
On it.

[2021-12-09 17:02] simonmicro commented on #36
Should work now?!

[2021-12-09 17:02] #36 closed

[2021-12-09 17:06] simonmicro commented on #41
Fixed in 11e8b4d2fceca01375c947b687ea2aa354c24b32

[2021-12-09 17:06] #41 closed

[2021-12-09 17:07] simonmicro commented on #36
You are right. I'll create PRs from now on... The `next` branch will be used from now on for direct commits :)

[2021-12-09 21:05] lodiabloc commented on #36
Thanks for the fix its now work fine

[2021-12-13 04:39] xXcodgerXx opened #45 "KMS server discovery"
I added a DNS record for py-kms in pihole using the method shown here. [Linkie](https://discourse.pi-hole.net/t/add-srv-kms-record/20775)

A fresh install of Win 10 Pro on the client machine using the VL key provided by MS it is not activated automatically.
Running `nslookup -type=srv _vlmcs._tcp`  from the client machine shows the py-kms server.
I enter the key again manually using `slmgr /ipk VL

[2021-12-13 13:38] CometstarMH opened #46 "Add Windows 10 LTSC 2021 GVLK"
https://docs.microsoft.com/en-us/windows-server/get-started/kms-client-activation-keys
The commit that "adds" the key to the Microsoft doc: https://github.com/MicrosoftDocs/windowsserverdocs/commit/38d034300163eee360a9cb54aa686c23710329dc

"Add" is probably not the correct word, since the key is the same as the one for Windows 10 Enterprise LTSC 2019. Probably need to modify the DisplayName for LT

[2021-12-15 12:08] #46 closed

[2021-12-17 06:51] lepoarro opened #48 "Unable to open database file in read-only mode. Ensure that the database exists in order to use read-only mode."
After latest docker update got the message: Unable to open database file in read-only mode. Ensure that the database exists in order to use read-only mode.

Debug log is here:

[code]
Now the SQLITE WebUI is not working but the KMS Activation seems to work.

[2021-12-17 08:26] simonmicro commented on #48
Hmm, the internal dummy client failed to do his job?! I think the xml is broken... Maybe?

_I have currently no time to look into this... Maybe in the next days? Idk..._

[2021-12-17 09:08] lepoarro commented on #48
Got the WebUI working by changing the premissions on pykms_database.db (through docker console):
`chmod 777 /home/py-kms/db/pykms_database.db`
After restarting the docker everything worked. Hope it helps to fix the issue/bug.

[2021-12-21 11:07] pabumake opened #49 "Permission error setting up docker-compose via Docs"
Just tried the current setup related into Docs with following docker-compose:

[code]
Resultet into this Output:
[code]

Could "fix" the Permission issue on /dev/stdout temporarly by using a fixed location with .log ending within the docker-compose file to another folder but the DB issue stays.

[2021-12-23 11:31] CRCinAU commented on #36
This is a much better fix - as it supports both:

[code]

[2021-12-23 15:51] simonmicro commented on #45
Hi,
as first: I have never used Microsofts DNS SRV records. There is a good chance that they only work e.g. in AD scenarios...
Could you try to modify the SRV record as follows and then retest?

- Add the IPv4 instead of the hostname (of the py-kms server)
- Add the FQDN (maybe you are e.g. using a Fritz!Box, which automatically sets the domain name of the network to `fritz.box`)

As a final step

[2021-12-23 16:36] Matthew-Beckett commented on #45
I believe what might be happening here is that you've created a record in your DNS server with the correct prefix, however you've provided no domain suffix. In the NSLOOKUP which returns successfully you do not provide a suffix and nor do you on the /skms example.

I suspect that your DHCP server is providing a DNS suffix Windows is appending and subsequently the vlmcs lookup is never hitting the

[2021-12-23 16:43] Matthew-Beckett opened #51 "Implement automagic KMS server discovery in pykms_Client"
https://github.com/SystemRage/py-kms/issues/121

[2021-12-23 16:49] Matthew-Beckett commented on #49
https://github.com/moby/moby/issues/31243#issuecomment-406879017

[2021-12-23 17:42] xXcodgerXx commented on #45
I changed the hostname to the IPv4 address, no change in the results. I also tried wireshark and didn't seen any traffic going to the IPv4 address of the kms server regardless of using the IPv4 address or hostname in the KMS DNS entry.

I also added a bogus DNS suffix to the client and the error message was different when trying to auto-activate. It indicated the KMS server could not be found.

Ju

[2021-12-23 18:06] simonmicro commented on #51
Duplicate of #45

[2021-12-23 18:07] Matthew-Beckett commented on #51
This is not a duplicate this is a feature request

[2021-12-23 19:02] #48 closed

[2021-12-23 19:02] #49 closed

[2021-12-26 15:04] simonmicro commented on #51
sry

[2021-12-28 20:44] echodreamz opened #53 "Server 2022 KMSItem"
I see Server 2022 is shown as supported, but I do not see any XML entries for it in the KmsDataBase.xml file.

[2021-12-29 14:56] Matthew-Beckett commented on #45
I believe you should still see something, can you filter in Wireshark by `tcp port 1688`?

[2022-01-01 00:18] Oratorian opened #54 "Logfile permission issue"
I just switched from SystemRage to your KMs repo,

Uppon creation the docker container works just fine.

When you specify

LOGFILE environment
LOGFILE=/home/py-kms/db/pykms_server.log

and restart docker the log get created and can be written permission 644

If the container is then restartet the permission changes to 411 and even manually changeing it to 644 does nothing.
I did not change anythin

[2022-01-01 01:51] Oratorian commented on #45
If you have a DNS Server add a new SRV record to your DNS

_vlmcs			SRV	0 1 1688 domain.tld.

after that you can add this domain with /skms-domain domain.tld and slmgr will do the lookup.

[2022-01-01 01:55] Oratorian commented on #45
btw its not /skms it is skms-domain for autorecovery in almgr

[2022-01-01 05:30] xXcodgerXx commented on #45
@Matthew-Beckett @simonmicro

I restored the VM prior to specifying the kms server with `slmgr /skms` then ran `slmgr /ato` nothing was sent anywhere with a destination port of 1688.  I then added `slmgr /skms mykms.server` then  `slmgr /ato` and I saw the packets sent to the KMS server in wireshark and it activated.

So it is NOT sending packets or requests to the KMS server until it is specified

[2022-01-01 16:13] Oratorian commented on #45
No the skms-domain works regardlessly of being part of an AD, i got it working and use it on all my systems.

If you want to check set skms-domain to amhosting.de and do /ato

[2022-01-05 09:16] midavow569 opened #55 "Internet isolation for Docker container"
I suggest to add command parameter to isolate py-kms container from Internet to prevent even accidental data leaks or vulnerabilities exploitation.

I am not an expert in Docker, but I found the answer https://stackoverflow.com/a/42336592

Also the note that DNS is still available https://docs.docker.com/config/containers/container-networking/ and it is needed to find a solution to forbid the DNS

[2022-01-06 15:46] simonmicro commented on #55
**TL;DR** _No. This is not the scope of py-kms. Fix your firewall._

So, py-kms is listening to `0.0.0.0` by default (can be overwritten inside the container using the environment variable `IP`) - you can change the IPv4 e.g. to `127.0.0.1` using Docker (e.g. for the command line use ` -p 127.0.0.1:1688:1688` (I think) instead of ` -p 1688:1688`) if you do not trust py-kms.

Keep in mind Docker wi

[2022-01-06 15:46] #55 closed

[2022-01-06 16:41] simonmicro commented on #53
Does it work? Then we do not need to add them... If not - our bad.

[2022-01-06 17:02] simonmicro commented on #45
Soooo.... Should we close this or do we need to add something to the documentation?

[2022-01-06 18:20] Oratorian commented on #54
Problem solved, but I thx mate

[2022-01-06 18:20] #54 closed

[2022-01-09 23:15] Matthew-Beckett commented on #45
Either way, this issue is deployment-dependent and related to Windows discovery of KMS servers and certainly out of the scope of this project to assist.

[2022-01-09 23:15] #45 closed

[2022-01-14 19:49] echodreamz commented on #53
They do work, though, there are no entries specific for Server 2022, so not sure how it is working. So I do not see a way to add our KMS specific keys like older versions of Windows.

[2022-03-26 17:37] Hacksawfred3232 commented on #53
Considering I was testing Windows Server 2022 earlier for a later deployment and it looks mostly like Windows 10 but with an 11 skin slapped on, I think they still use the old protocol/XML Entry. Micro$oft being lazy as always.

[2022-03-26 19:36] #53 closed

[2022-04-03 10:09] SoLoR1 opened #59 "Issue with server listening on IPv6"
Here is the issue i can run on specific IPv4 & IPv6 and it will work (for example: ./pykms_Server.py ::1 1688 - will listen on loopback interface ip v6 ::1 and ./pykms_Server.py 127.0.0.1 1688 - will listen on loopback interface ip v4 127.0.0.1), but as it stands right now there is no way to use both at the same time (dual stack), because for IP it only takes only 1 argument. Also default option (

[2022-04-03 10:20] tpimh opened #60 "Error: 0x8007232B DNS name does not exist"
I'm running `pykmsorg/py-kms:python3` in my local IPv4 only network. Trying to activate Windows 10 Pro with a GVLK Key.

[code]

However, `slmgr /ato` produces this error: `Error: 0x8007232B DNS name does not exist`.

Settings -> Activation has this text in red:

Is it a problem with py-kms or my network? What am I doing wrong?

[2022-04-03 10:42] Matthew-Beckett commented on #60
Hi @tpimh,

This is something which has come up in the past, please can you provide outputs with generalised host names as opposed to redacted as it makes it impossible to tell if your DNS solution is working as it should be.

Also, it may be helpful to refer to this thread where this issue has come up in the past, it may be full of useful information which may help you on your quest.

https://git

[2022-04-03 11:36] tpimh commented on #60
Hi Matt!

Thank you very much for a prompt reply! Here is the unedited output (I guess I don't have anything to hide here):

[code]

The copy of Windows that I'm trying to activate is not a new installation, it was installed from an official Microsoft ISO, none of the DLLs were replaced to third party versions, it was previously activated with a different key (not GVLK), but I have reset the activ

[2022-04-03 13:55] SoLoR1 commented on #59
Actually its possible to specify more ips... something along this lines:

./pykms_Server.py 84.xxx.xxx.xxx 1688 -l 1033 -c 26 -a 120 -r 10080 -w RANDOM -V INFO -F STDOUT connect -n 10.0.0.1,1688 -n 2a01:xxx:xxxx:xxxx::1,1688,

bit clumsy :) now need to figure out how to add this in to docker without rebuilding it...

[2022-04-03 13:57] Matthew-Beckett commented on #59
cc @simonmicro

[2022-04-03 14:07] SoLoR1 commented on #59
Tried to "extend" docker LOGFILE env variable with -e LOGFILE="STDOUT connect -n 10.0.0.1,1688 -n 2a01:xxx:xxxx:xxxx::1,1688", but it errors out with: argument `-F/--logfile`: invalid directory: 'STDOUT connect -n 10.0.0.1,1688 -n 2a01:xxx:xxxx:xxxx::1,1688'. Exiting...

hm... dont think its possible how docker container is set right now, i think we would need another env variable for example "CUS

[2022-04-03 15:14] SoLoR1 commented on #59
I dont understand, i created new env variable for docker, changed start.py to add connect that enviroment variable at the end (like i had it working outside docker container) and now im getting this error:

Sun, 03 Apr 2022 17:03:39 INFO     Log level: DEBUG
Sun, 03 Apr 2022 17:03:39 INFO     Setting gid to '65534'.
Sun, 03 Apr 2022 17:03:39 INFO     Setting uid to '65534'.
Sun, 03 Apr 2022 17:03:

[2022-04-03 19:27] simonmicro commented on #59
Hi,

1. Docker creates an isolated network namespace for every container. Please take a look into that (tip: `network_mode: host`).
2. Linux allows an IPv4 to connect to any IPv6 port thanks to address mapping / translation. Go ahead and test it! -> Meaning listening to `::` should be enough.
3. For specific network restrictions please utilize the firewall capabilities of your setup (e.g. `iptable

[2022-04-03 19:27] #59 closed

[2022-04-03 19:32] simonmicro commented on #60
Hey,

good that @Matthew-Beckett already explained this (:heart:). I think Microsoft should update their docs to state in big, fat, red letters that using the SRV entry in DNS does only work in AD environments. I think this should solve your problem.

_One final note_ Please refrain from using publicly accessible hostnames (like `lahtihosting.fi`) as Microsoft will scan those and send you a nice D

[2022-04-03 19:32] #60 closed

[2022-04-03 20:15] SoLoR1 commented on #59
Hey,

1. I know, im using host
2. yes if you set as IP :: server listens for traffic on all ipv6 interfaces, but not on ipv4 again problem is you would need to set 0.0.0.0 and ::

anyway i had some time, so i lerned some basic python, didnt go that far to change pykms_Server code but i fixed start.py to allow multiple IPs in docker eviroment variable: #238af40309f141d385517c76f2ab4503d29849ab

[2022-04-04 03:57] tpimh commented on #60
Hi Simon! I have no plans of providing such service, the subdomain only exists in a private network. All my copies of Windows are legit, and I'm using py-kms strictly for research purposes, so I really do think I'm not breaking any rules or laws. However, I have edited my messages, but the information is still there in the edit history.

[2022-04-07 23:24] dudefoxlive opened #63 "Docker says time is mismatched"
Recently setup Py-KMS in docker and noticed this when looking at logs. I have another py-kms LXC in proxmox and have no such warnings. I can provide more info if needed. I checked date and time and both are correct though maybe a minuet or so apart.

Thu, 07 Apr 2022 18:56:20 WARNING  Okay, something went horribly wrong while localizing the request time (proceeding anyways): Timezone offset does n

[2022-04-09 22:00] WinkelCode opened #65 "HWID randomization by default in pykms_Server.py. (Parity with Dockerfile)"
Related: https://github.com/SystemRage/py-kms/issues/131

The Dockerfile uses `ENV HWID RANDOM`, while the script uses some hardcoded value (see linked issue).

Is there a reason to not make them both generate a random HWID?

[2022-04-10 17:09] SoLoR1 commented on #63
Try to set timezone of the docker container with TZ enviroment variable... add somewhere when creating docker -e TZ="Europe/Berlin" (or whatever your timezone is). If docker is run on linux you can also mount /etc/localtime to py-kms /etc/localtime with -v /etc/localtime:/etc/localtime:ro (dont forget ro, it makes it read only).

[2022-04-13 08:32] edgd1er commented on #51
From my understanding, the py_client is ran to bootstart the local kms server in order to reach 25 activations.
what would be the usage to query random kms servers ? (well, server would be known after a DNS request srv _vlmcs._tcp)

[2022-04-13 11:04] simonmicro commented on #51
Nope, just to trigger the database creation for the sqlite webinterface...

Could you elaborate?

[2022-04-13 11:05] simonmicro commented on #63
@dudefoxlive Did it work? If yes, please close this issue...

[2022-04-13 18:16] dudefoxlive commented on #63
I did this originally when creating it and no. same issue.

[2022-04-13 20:37] edgd1er commented on #51
Automatic KMS discovery is based on _vlmcs._tcp.domain.tld DNS query. Should you have two or more KMS server on your lan, you can't know for sure what will be the DNS answer, hence what would be the KMS used to activate your client.

although, I get the point, If you wish to validate kms discovery the py_kms client, that feature is needed.

[2022-04-13 23:52] edgd1er commented on #51
#66 is a proposition to implement KMS discovery feature.

[2022-04-14 06:36] SoLoR1 commented on #63
Well its definatly some kind of time inconsistencys.... if its not timezones are you using NTP to set time on server/clients? If you dont, you should... also one other thing... its just a warning anyway :)

[2022-04-15 19:20] simonmicro commented on #63
-> Caused by: https://github.com/regebro/tzlocal/issues/79

[2022-04-15 19:23] simonmicro commented on #63
I've triggered a rebuild of the Docker images... Maybe that helps? Otherwise I have to dive deeper what's going on here...

[2022-04-15 19:28] dudefoxlive commented on #63
I have noticed that the Docker VM is about 10 or so seconds ahead
![image](https://user-images.githubusercontent.com/50186495/163623853-93f58a65-faeb-4890-bfb3-bab6cb302dc9.png)

[2022-04-15 19:38] simonmicro commented on #63
Huh? This smells like a classic problem, where you do not use the same NTP servers / the docker host has no `ntpd` active... Is this even related?

[2022-04-16 17:53] dudefoxlive commented on #63
ok so update. I eventually found out that my Domain Controller was about 10 seconds behind and my docker was actually correct. I have fixed the time issue and now my DC is syncing with an NTP server. Same servers as my Docker VM. still after fixing that issue I am still getting the same message as before.

[2022-04-18 13:43] simonmicro opened #67 "Freeze requirements properly"
As already pointed out here: https://github.com/Py-KMS-Organization/py-kms/pull/66#discussion_r851763102 we should freeze the requirements in e.g. a `requirements.txt` file.

As I worked with [Python Poetry](https://python-poetry.org/docs/basic-usage/) recently and was pleasantly surprised by its features, I would propose that system instead. What do you guys think? Any strong feelings out there?

[2022-04-20 16:45] edgd1er commented on #63
if no tz is defined in the container, utc is set. do you have a diff of -2h with utc ?

[2022-04-20 16:54] dudefoxlive commented on #63
OK so new update. Setting the ENV TZ=US/Eastern has fixed the issue of saying the localization time being wrong. Now the only warning I am getting is "Wed, 20 Apr 2022 12:52:01 WARNING  With count = 26, activated client could be detected as not genuine !" Any ideas on that?

[2022-04-21 09:52] simonmicro commented on #63
Glad to hear, that you "fixed" the problem. I sadly have no idea why your timezones were such a mess (maybe even the time of the Docker host is not localized?)...

Regarding the second warning... Try to change the activation count (see params) - but it should be fine...

[2022-04-21 09:52] #63 closed

[2022-05-01 19:22] simonmicro commented on #67
I've just reviewed #68 and it looks good... There are still some details to be fixed, but there is a good chance that I'll merge it later on and resolve this (even without Poetry :grin: ).

[2022-05-06 18:07] PAI5REECHO opened #69 "Taking a long time for Docker container to stop"
[code]
Maybe the stop signal is incorrect or needs to be setup properly in the application code?

[2022-05-06 18:09] Matthew-Beckett commented on #69
Do you have comparable containers which we should use as a benchmark, I'm unsure if 10s is really that big a deal...

[2022-05-06 19:23] PAI5REECHO commented on #69
It never actually succeeds in stopping the container at all. It's waiting 10 seconds for a graceful stop (which never happens) and then it's sending the container the kill signal:

As also noted in the Docker documentation [the default waiting period is 10 seconds](https://docs.docker.com/engine/reference/commandline/stop/#options) (which is what I'm observing as the time it takes to stop the cont

[2022-05-06 19:26] PAI5REECHO commented on #69
For reference `redis` stops within fractions of a second:
[code]

[2022-05-06 19:28] Matthew-Beckett commented on #69
Roger that, we'll look into this.

[2022-05-06 19:28] Matthew-Beckett commented on #69
CC @simonmicro

[2022-05-12 10:43] simonmicro commented on #69
Ah, sh*t. Yes. This is a known... Bug?! Let me explain:

The **non**-`minimal` tag starts after the entrypoint also a read-only instance of `sqliteweb`, so you can view the database. This process is send into the background, after the control is given to the `py-kms`-server. We have no way of quitting the background-process after that (and as far as I know we would have to terminate it anyways).

[2022-05-12 14:37] PAI5REECHO commented on #69
Seems fixed now:
[code]

[2022-05-15 22:18] Zulgrib opened #70 "Feature request : Support Server 2003 and XP"
For the sake of completeness, is it possible to support XP and 2003 (R2) ?

These system are loved for running old software, and official activation methods are harder to use over time for these old operating system.
Unofficial methods documentation gets lost (links are now 404). The cleanest way would be to use slmgr.vbs /skms

Of course, I do not recommend running these system on something else

[2022-05-18 08:05] rijenkii commented on #70
I'm pretty sure that KMS was introduced with Vista, so XP and 2003 can't activate against a KMS.

[2022-05-18 08:18] luky92 commented on #70
You can't activate XP against KMS so by extension you can't activate server
2003 either

W dniu śr., 18.05.2022 o 10:05 rijenkii ***@***.***>
napisał(a):

[2022-05-21 14:37] simonmicro commented on #70
Thank you very much @rijenkii and @luky92 for your explanation! Sadly, these old versions can't be activated with this project. I would recommend you to look for ways of modifying the OS directly (no links here!).

[2022-05-21 14:37] #70 closed

[2022-05-29 22:28] #67 closed

[2022-06-04 19:24] DerEnderKeks opened #71 "Use dual-stack by default"
I just wasted way too much time trying to figure out why the kms server was unreachable on my IPv6 K8s cluster just to find out that py-kms only listens on legacy IPv4 by default. It's 2022, this really shouldn't be happening anymore.

[2022-08-16 12:48] arturolegovich opened #73 "I need mysql datastore for many services"
Sqlite is for one instanse on k8s or one-docker-node. Who want write code for sqlite and mysql ?

[2022-08-24 18:02] simonmicro commented on #73
We could migrate to sql-alchemy and thereby support them all. Would be a good exercise for me / someone... Good enough?

[2022-08-24 18:03] simonmicro commented on #71
Indeed - I remember in the original repo we had some problems using this any my change was reverted. @Matthew-Beckett what do you think? Should we try again?

[2022-09-30 07:42] daniandco1 opened #74 "Error while activating 0x80070000d"
kms actication the data is invalid 0x80070000d
im getting this error while trying to run my server on my local network (docker) and trying to activate on the same network.

i do know that it happens because **i run server and client on the same computer** and running the server on virtualbox fixed my issue

 however,
 * i think docker can do bridge networking by himself * (without virtualbox).

so

[2022-09-30 14:47] simonmicro commented on #74
You don't. Because Docker will create a new Network Interface, which is marked as `local` in Windows. This way any communication over that interface will still be treated as "from the same machine". You could try to use Swarm and this way bridge it over?

[2022-09-30 14:51] Matthew-Beckett commented on #74
@simonmicro is there specific limitations in place to prevent the KMS protocol being usable over a local/loop back interface?

Is this an attempt to prevent you running a local KMS impersonator as this project does?

[2022-09-30 15:30] simonmicro commented on #74
Something, something Windows?

Bingo. I see NO reason why Microsoft should implement this limitation otherwise!

[2022-10-03 07:49] #74 closed

[2022-10-14 13:18] ajh123 opened #75 "Connect GUI to remote server?"
This would allow someone to run pykms in Docker and then use a client program to have access to the GUI. Curently we have no way to view to GUI of a pykms server in Docker, so having a way to 'connect' to it would allow us to view the GUI. This would also allow for management of a pykms server remotely (or across the internet if the port has been forwarded correctly.

[2022-10-21 23:56] arturolegovich commented on #73
I have a good skill, i learn many programming languages, i loved Delphi 7 in past, i love c#. Some of intresting thin that in more-more day a go i be the cracker))), it's wos il can be rewrite all code in enething language to enething language )), what can you think about this, high-level language like python is not very dificulte for me)). I readind most of all code two week a go )

[2022-10-22 00:09] arturolegovich commented on #73
![image](https://user-images.githubusercontent.com/82318393/197306931-26731a68-12cc-4199-afdc-ee1ea2e77a6f.png)

It's great work like a docker -container, all of us wriote my shell script to python, vervy good with healthcheck - i don'y be lev that )

[2022-10-22 00:15] arturolegovich commented on #73
sorry, left is my py-kms_phpviewer-sqlite3 my some instrasting developmen working on php, now i can porting this to jqgrid, than i'l write this from php to python ). In PHP - very fast i can do it, if i dond delete source code from my work ) in 2014 year )

[2022-10-25 07:28] arturolegovich commented on #73
Yes, Good enough.

[2022-10-31 13:03] click23 opened #76 "Can't install pysqlite3 On Ubuntu 22 server"
Hi there ...
I'm trying to install py-kms on ubuntu server for multiple purposes and seems I can't manage to install  pysqlite3 using the mentioned code.
`sudo pip3 install tzlocal pysqlite3`
Which Let's the tzlocal to install completely but retuned error on installing pysqlite3.
I'm using python3 as mentioned in dependencies and here is the result.

[code]

Please sir do kindly let me know if I a

[2022-10-31 13:59] JonnyTech commented on #76
According to https://github.com/coleifer/pysqlite3: `pip install pysqlite3-binary`

[2022-11-06 14:23] simonmicro commented on #76
Updated the README - thanks for the report!

[2022-11-06 14:23] #76 closed

[2022-11-25 12:30] arturolegovich opened #77 "Add to README.md"
We need added to README.md, that py-kms is like Microsoft KMS-server, but not for production use, testing for self)

[2022-11-25 16:12] #77 closed